NODE_ENV=development
DB_PORT=3306
# DB_HOST=localhost
DB_USER=user
DB_PASSWORD=password
DB_DATABASE=db
PORT=3000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=1da424dff37c4f9ab2ac6ebb417b9dc4
JWT_AUTH_EXPIRE_SECONDS=31536000
JWT_AUTH_SECRET=sdlsdfasd3afeds3fnkawb3y
JWT_AUTH_EXPIRE_DAYS=365d
JWT_REFRESH_AUTH_SECRET=sdlsdfasd3afeds3fnkawb3y
JWT_OTP_AUTH_SECRET=sdlsdfasd3afeds3fnkawb3y
JWT_OTP_EXPIRE_SECONDS=31536000
EMAIL_ADDRESS=support@btest.de
EMAIL_USER=emal_user
EMAIL_KEY=b4963edcf94d13c594bf63a43e1f5b51
EMAIL_PASSWORD=aeed9d95360e43cc6f592c6276f0c4ed
EMAIL_FEEDBACK_TO=support@test.de
WEB_APP_DOMAIN=http://localhost:3000/
SWAGGER_USER=swagger_user
SWAGGER_PASSWORD=swagger_password
CRON_API_KEY=test
TWO_FACTOR_AUTHENTICATION_APP_NAME=TEMPLATE_API
AWS_REGION=eu
AWS_PATHNAME=s6pu4jbe6mw6
MINIO_BUCKET=crisis-dev
MINIO_ACCESS_KEY=0
MINIO_SECRET_KEY=0
MINIO_ENDPOINT=
MINIO_URL=
LOG_LEVEL=info
API_KEY=095a5789-ba22-4e05-b4ec-9e55e569e0f6
ACTIVATE_SWAGGERER=true